<table>
  <%= render 'table_header' %>
  <tbody>
  <% @kitties.each do |kitty| %>
      <%= render 'cat', kitty: kitty, show: true %>
  <% end %>
  </tbody>
</table>
<%= link_to "Add New Cat", new_cat_url %>